<section class="seccion-dos">
  <div class="container-fluid">
    <h1 class="text-center">Ipsum Loren</h1>

    <div class="row">
      <div class="col-md-4 col-sm-12 text-center">
        <div class="seccion-dos-a">
          <img
            src="assets/image/seccion-dos-a.png"
            alt=""
            class="mx-auto d-block img-fluid"
          />
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam
            tempora aliquid dolorem id maiores, doloribus, accusamus fugit vitae
            in, voluptatum ratione
          </p>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 text-center">
        <div class="seccion-dos-b">
          <img
            src="assets/image/seccion-dos-b.png"
            alt=""
            class="mx-auto d-block img-fluid"
          />
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam
            tempora aliquid dolorem id maiores, doloribus, accusamus fugit vitae
            in, voluptatum ratione
          </p>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="seccion-dos-c">
          <img
            src="assets/image/seccion-dos-c.png"
            alt=""
            class="mx-auto d-block img-fluid"
          />
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam
            tempora aliquid dolorem id maiores, doloribus, accusamus fugit vitae
            in, voluptatum ratione
          </p>
        </div>
      </div>
    </div>

    <div class="text-center">
      <a href="#" class="btn btn-primary">Leer mas</a>
    </div>
  </div>
</section>
